.block {
  margin: 15px 5px;
  border-radius: 10px;
  background-color: $light;
  height: 250px;
  box-shadow: 0 2px 15px #0000000a;

  &--border {
    @extend .block;
    background-color: white;
    border: solid 3px $primary;
  }

  &--filled {
    @extend .block;
    background-color: $primary;
    border: solid 3px white;
  }
}
