html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: $body-bg;
}
footer {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: $light;
  padding: 0.5em;
  font-size: 0.8rem;
  color: #8d8d8d;
}
