html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: $body-bg;
}
.container {
  padding: 5% 0;
}
footer {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: $light;
  padding: 0.5em;
  font-size: 0.8rem;
  color: #8d8d8d;
  padding: 10px 5%;

  @media (max-width: 450px) {
    display: block;
    text-align: center;
  }
}
